// Footer
@use "./variables"as *;
@use "./mixins"as *;

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: $orange;
    height: 50px;
    border-top: 2px solid $orange;
    padding: em(20);

    p {

        text-align: center;
        margin: 0;
        font-size: 12px;
    }

}


.icon-styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 10rem;

    @media (min-width:$tabletSmall) {
        margin-right: 20rem;
    }

    @media (min-width:$desktop) {
        margin-right: 40rem;
    }

    @media (min-width:$desktopLRGE) {
        margin-right: 50rem;
    }

    @media (min-width: $desktopOverSized) {
        margin-right: 100rem;
    }
}

.twitter,
.instagram {
    margin-top: 10px;
}

.facebook {
    margin-top: 7px;
}