// Footer
@use "./variables"as *;
@use "./mixins"as *;

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: $orange;
    height: 50px;
    border-top: 2px solid $orange;


    p {
        text-align: center;
        margin: 0;
        font-size: 12px;
    }

    li {
        text-align: center;
        list-style-type: none;
    }

}

footer {
    @media (min-width:$desktop) {

        display: flex;
    }
}

.icon-styles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;


    @media (min-width:$tabletSmall) {
        // margin-right: 20rem;
    }

    @media (min-width:$desktop) {
        // width: 300px;
    }

    @media (min-width:$desktopLRGE) {
        // margin-right: 50rem;
    }
}

.twitter,
.instagram,
.facebook {
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 20px;
}


.footer-nav {
    display: none;


    @media(min-width:$desktop) {
        display: flex;
        justify-self: flex-end;



    }

}

.footer-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;

}

.foot-link {
    text-decoration: none;
    line-height: 50px;
    font-size: $font-reg;
    font-weight: bold;
    padding: 0px 20px 50px 28px;


    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        text-decoration-color: $textColor;
    }
}