//header 

@use "./variables"as *;
@use "./mixins"as *;

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $orange;
    height: 50px;
    font-size: $font-reg;
    z-index: 1000;

    h1 {
        margin: em(2) 0 em(6);
        text-align: left;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    @media (min-width:$tabletSmall) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: em(12);

        h1 {
            margin: 0;
            text-align: left;
        }
    }

    @media (min-width: $desktop) {
        margin: em(20);

        h1 {
            font-size: em(48);
        }
    }

}