//Main

@use "./variables"as *;
@use "./mixins"as *;

//About Page

.about-section {
    align-content: center;
    margin-top: 250px;
    margin-bottom: 260px;
    text-align: center;
    padding: 10px;

    @media(min-width: $tabletSmall) {
        margin-bottom: 335px;
    }

    @media (min-width: $desktop) {
        margin-bottom: 270px;
    }

    @media(min-width: $desktopOverSized) {
        margin-bottom: 345px;
    }
}

.tmdb-section {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & p {
        font-size: .75rem;
    }
}

.tmdb-logo {
    width: 2rem;
    margin-right: 1rem;
}



//Favourites Page