//Movies

@use "variables"as *;
@use "mixins"as *;

.movie-box {
    padding: 1.5rem;


    @media (min-width:$desktop) {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}


.movie-card {
    background-color: $bgColor;
    padding-top: 10px;
    margin-bottom: 10px;


    img {
        margin: 5px;
        // border: 1px solid $orange;
        width: 100%;
    }


    @media (min-width:$tabletSmall) {
        margin-bottom: 0;
    }
}

.info-container {
    text-align: center;
    position: relative;
    margin-left: 12px;
    color: $textColor;
}

.movie-description {
    visibility: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    font-size: .5px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}