//Movies

@use "variables"as *;
@use "mixins"as *;

.movie-box {
    padding: 1.50rem;

    @media (min-width:$desktop) {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}


.movie-card {
    background-color: $bgColor;
    padding: 10px;
    margin-bottom: 10px;

    img {
        width: 100%;
    }


    @media (min-width:$tabletSmall) {
        margin-bottom: 0;
    }
}

.info-container {
    position: relative;
    text-align: center;
    color: $textColor;
}

.movie-description {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}