// Singles Page
@use "./variables"as *;
@use "./mixins"as *;


.mass-poster {
    margin-top: 3rem;
    padding: 10px;

    // @media (min-width: $desktop) {
    //     margin: 0 auto;
    //     display: block;
    //     padding: 10px;
    // }

}

.indiv-poster-container {
    @media (min-width: $desktop) {
        margin: 0 auto;
        display: flex;
        padding: 10px;

        p {
            margin-top: 5rem;
        }
    }
}

p {
    text-align: center;
    font-size: $font-reg;
    padding: 10px;
    line-height: $line-height;

}


.indiv-movie-info-container {
    text-align: center;
    position: relative;
    margin-left: 12px;
    color: $textColor;
}