//Type 

@use "./variables"as *;


body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
nav a {
    font-family: 'Monsterrat', Helvetica, sans-serif;
    color: $textColor;
}

// h1 {
//     font-weight: 700;
//     font-style: oblique;
// }

a {
    color: $textColor;
}

p {
    font-family: 'Monsterrat', Helvetica, sans-serif;
    color: $textColor;
}