//Variables


//Colors
$orange: #bf451c;
$hover-orange: lighten($orange, 20);
$bgColor:#000000;

//Text Colors
$textColor:white;

//Font sizes
$font-small: 0.5rem;
$font-reg: 1rem;
$font-lrg: 1.4rem;

//typography defaults
$line-height: 1.4;

//margin
$body-margin: 10px;

//Breakpoints
$desktopLRGE:1020px;
$desktop:800px;
$tabletSmall:500px;